@import "tailwindcss";

/* =============== BASE STYLE =============== */

:root {
  --background: #e9eefb;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
